img{
    width: 1em;
    padding: 0.2em;
    border-radius: 50%;
    display: inline-block;
}

.ArticleList{
    display: inline-block;
    width: 65%;
    padding: 1em;
    
}

.ArticleCard{
    margin: 1em;
    height: auto;
    padding: 1em;
    border-radius: 10px 10px 10px 10px;
    /* border-top: solid 1px black; */
    border-right: double 5px #4fd2e4;
    border-left: double 5px #4fd2e4;
    /* border-bottom: solid 1px black; */
}

.ArticleMetaData{
    margin: 0.2em;
    vertical-align: middle;
    align-items: center;
    display: flex;
    justify-content: space-between; 
    font-size: 1.2em;
}
.ArticleCardTitle{
    display: inline-block;
}
.ArticleCardDay{
    display: inline-block;
}
.ArticleTag{
    margin: 0.2em;
    text-align: center;

}
.ArticleCardAgenda{

}
