/* img{
    width: 1em;
    padding: 0.2em;
    border-radius: 50%;
    display: inline-block;
} */
.ArticleViewer{
    /* box-sizing: border-box; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 75vh;
    background-color: #e0e0e0;
}

.ArticleMain{
    background-color:white;
    margin: 2rem;
    padding: 1rem;
}


.ArticleMetaData{
    height: auto;
    /* border-radius: 10px 10px 10px 10px;
    border-right: double 5px #4fd2e4;
    border-left: double 5px #4fd2e4; */
    padding-left: 1rem;
    padding-right: 1rem;

    vertical-align: middle;
    align-items: center;
    display: flex;
    justify-content: space-between; 
}

.ArticleTitle{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    display: inline-block;
}


.ArticleText{
    margin-top: 2rem;
    margin-bottom: 2rem;
    overflow: hidden;
    height: auto;
}
.ArticleText h1{
    font-size: 1.8rem;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    text-decoration: underline;
}
.ArticleText h2{
    /* text-decoration: solid; */
    font-size: 1.5rem;
    margin-top: 0vh;
    margin-bottom: 0vh;
}
.ArticleText p, ul, li, h3, h4, h5, h6{
    font-size: 1.2rem;
    margin-top: -0.5vh;
    margin-bottom: -0.5vh;
}


.ArticleFooter{
    background-color: #e0e0e0;
    margin: 2rem;
    padding: 1rem;
    /* margin-left: 15%;
    margin-right: 15%; */
}

.Comments{
    margin-top: 3%;
    margin-bottom: 1%;
}

.CommentUserInfo{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: left;
}
.CommentUserInfo img{
    margin-left: 4%;
    width: 0.7rem;
    padding: 0.2rem;
    border-radius: 50%;
    display: block;
}
.UserName{
    margin-left: 4%;
    font-size: 1rem;
    display: block;
}
.CommentText{
    white-space: pre-wrap;
    text-align: center;
    font-size: 1.2rem;
    display: block;
}
.SendComment{
    vertical-align: middle;
    align-items: center;
    justify-content: left;
    display: inline;
}


.MuiFormControl-root{
    background-color: white;
}

.SendComment TextField{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 96%;
    font-size: 1.2rem;
    height: calc(1.6rem * 3);
    resize: none;
    /* overflow-y: scroll; */
}

.CommentSender{
    margin-top: 0.5rem;
}

.CommentSender Button{
    justify-content: right; 
    background-color: white;
    display: block;
}