.auth{
    display: flex;
    padding-top: 2rem;
    /* height: calc(100% - 2rem); */
    justify-content: space-evenly;
    /* align-items: center; */
    text-align: center;
    align-content: center;
    min-height: 65vh;
}

.signin{
    margin-top: 2rem;
    /* align-self: auto; */
    height: max-content;
    font-size: 2rem;
    display: inline-box;
}

.login{
    margin-top: 2rem;
    height: max-content;
    font-size: 2rem;
    display: inline-block;
}

.auth input[type="text"]{
    font-size: 1.5rem;
    display: block;
    margin-top: 0.5rem;
}

.auth button{
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.alert{
    color: red;
    font-size: 2rem;
}