/* --------------------------------------- */
/* |              PAGE HEADER            | */
/* --------------------------------------- */

.PageHeader{
    font-family: Arial, Helvetica, '游ゴシック';
    background-color: rgb(46, 46, 43);  /* 将来的に背景は透明度のある写真に変えたい */
    display: flex;
    /*左から並べていく*/
    /* flex-direction: row;  */
    /* 並べるときに間に自動的に空白を入れて整列してくれる      */
    justify-content: space-between; 
    color: white;
    min-height: 5vmin;
    /* font-size: 90%; */
    /* font-size: 2vh; */
}

.ServiceTitle{
    font-size: 100%;
    margin-left: 1vw;
    /* margin-right: 2vw; */
    color: #32a5c5;
    vertical-align: middle;
    font-weight: bold;
}

.PageHeaderButtons{
    margin-left: auto;
    /* display: flex; */
    width: 85%;
    /* align-items: right; */
    justify-content: flex-end;
    vertical-align: middle;
}

.SearchArticle{
    display: inline-block;
    /* margin-left: 10%;
    margin-right: 2vw; */
}

input{
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

button{
    cursor: pointer;
    margin-left: 1vw; 
    margin-right: 1vw; 
    background-color: white;
    text-decoration: none;
    border-color: white;
    border-top: solid 2px #4fd2e4;
    border-right: white;
    border-left: white;
    border-bottom: solid 2px #32a5c5;
}

.Account{
    cursor: pointer;
    display: inline-block;
}

/* --------------------------------------- */
/* |                HOME                 | */
/* --------------------------------------- */

.Home {
  font-family: Arial, Helvetica, '游ゴシック';
  text-align: auto;
}

.HomeHeader {
  background-color: rgb(73, 73, 69);  /* 将来的に背景は透明度のある写真に変えたい */
  padding: 2vw;
  display: flex;
  flex-direction: row; /*左から並べていく*/
  align-items: center;
  /*並べるときに間に自動的に空白を入れて整列してくれる*/
  /* justify-content: space-evenly;  */
  font-size: calc(10px + 2vmin);
  color: #32a5c5
}

.ServiceExplanation{
    width: 60%;
    display: inline-block;
}

.ServiceLogo{
    font-size: calc(10px + 6vw);
    font-weight: bold;
    color: #32a5c5
}

.ServiceIdea{
    height: auto;
    font-size: calc(10px + 1vw);
    color: white;
}
.ServicePurpose{
    padding: 2vw;
    display: inline-block;
    width: 100%;
    height: auto;
    font-size: calc(10px + 2vw);
    color: white;
}


/* --------------------------------------- */
/* |                BODY                 | */
/* --------------------------------------- */

.HomeBody {
  margin: 2vh;
  margin-top: 5%;
  background: white;
  /* min-height: 30vh;
  min-width: 100vh; */
  align-items: left; 
  text-align: left;
}

.HomeBox {
  align-self: auto;
  font-size: 15px;
  text-align: left;
  text-align: top;
  /* margin: 1vh; */
}


.HomeFooter{

}
.UserRanking{

}
.Category{
  
}

.HomeFooter{

}

.App-textview{
  display: inline-block;
  margin-left: 1vw;
  vertical-align: top;
  width: 48%;
  height: auto;
}

.Link {
  color: #61dafb;
}